table, td, tr {font-family:verdana;color:gold}
body {background-color:black;font-family:verdana;font-size:11px;color:gold}
a {color:gold;text-decoration:none}
a:hover {color:lightyellow;text-decoration:underline}
.s1 {font-size:11px}
.s2 {font-size:13px}